:root {
    --primary-white: #ffffff;
    --primary-light-grey: #f4f4f4;
    --primary-grey: #ccd1d9;
    --primary-dark-grey: rgb(102, 102, 102);
    --primary-orange: rgb(250, 171, 0);
    --primary-dark: rgb(52, 58, 64);
    --primary-red: #ef4035;
    --primary-hover-red: #f33501;
    --primary-black: #000000;
    --primary-transparent-black: rgba(0,0,0,0.7);
    --primary-green: green;
  }

.services {
    text-align: center;
    padding-bottom: 2rem;
    background: var(--primary-light-grey);
  }
  
  .services h1 {
    color: var(--primary-red);
    text-transform: uppercase;
  }
  
  .services .circle {
    position: relative;
    margin: 0.375rem auto;
    background: var(--primary-orange);
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
  }
  
  .services .icon {
    font-size: 1.4rem;
    color: var(--primary-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .services .box {
    height: 19rem;
    border-bottom: 0.3125rem solid var(--primary-orange);
    padding: 0.625rem;
    margin-bottom: 1.875rem;
    background: var(--primary-white);
    transition: 0.3s ease-in-out;
  }
  
  .services .box:hover {
    background: var(--primary-orange);
    border-bottom: 0.3125rem solid var(--primary-dark);
  }
  
  .services .box:hover .icon {
    color: var(--primary-dark);
  }
  
  .services .box:hover .circle {
    background: var(--primary-white);
  }
  
  .services .box:hover p {
    color: var(--primary-white);
  }

.subtitle{
    margin-left: 40px;
    font-size: 19px;
    text-align: left;
    /* color: #f33501; */
}
.box > p {
  font-size: 19px
}