@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap');
/* font-family: 'Comfortaa', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
/* font-family: 'Montserrat', sans-serif; */

:root {
    --primary-white : #ffffff;
    --primary-dark : rgba(2,10,32,0.9);
    --primary-red : rgb(220, 20, 60);
    --primary-dark-grey: rgb(102, 102, 102);
    --primary-green: green;
    --primary-light-grey: #f4f4f4;
}

/************************ CONTACTS COMPONENT *********************************/
.contacts {
    background: rgba(2,10,32,0.9);
    padding: 3rem 0;
  }
  
  .contacts h2 {
    font-family: 'Comfortaa', cursive !important;
    color: var(--primary-red);
    padding: 1.3rem 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
  }
  
  .contacts p {
    color: var(--primary-light-grey);
    font-size: 1.2rem;
  }
  
  /*------------------ INPUTS -------------------------------*/
  .contacts input, .contacts textarea {
    width: 100%;
    box-sizing: border-box;
    background: none;
    resize: none;
    border: 0;
    border-bottom: 0.125rem solid var(--primary-dark-grey);
    border-radius: 0;
    color: var(--primary-white);
    outline: 0 !important;
    box-shadow: none !important;
    margin-bottom: 1rem;
    padding-left: 0 !important;
  }
  
  .contacts .container {
    padding: 4rem 0;
  }
  
  .contacts input:focus, .contacts textarea:focus {
    background: transparent;
    color: var(--primary-white);
    border-bottom: 0.125rem solid var(--primary-dark-grey);
  }
  
  .contacts textarea {
    height: 12.2rem !important;
  }
  
  .contact-btn {
    margin: 1rem 0 0 0;
    width: 88%;
    background: none;
  }
  
  .line {
    position: relative;
    top: -0.8rem;
    width: 0;
    height: 0.125rem;
    background: var(--primary-red);
    display: inline-block;
  }
  
  input:focus+.line, textarea:focus+.line {
    width: 100%;
    transition: width 0.5s ease-in-out;
  }
  
  input.form-control {
    margin: -0.3rem 0;
  }
  
  textarea.form-control {
    margin: -0.3rem 0;
  }
  
  .error-message {
    color: var(--primary-white);
    background: var(--primary-red);
    text-align: left;
  }
  
  .success-message {
    font-weight: 900;
    color: var(--primary-green);
  }
  
  /*---------------- MEDIA -----------------------*/
  @media(max-width: 768px) {
    .contacts {
      overflow-x: hidden;
    }
    
    .contacts .container {
      padding: 0 1rem;
    }
  
    .contacts p {
      padding: 0 0.4rem;
    }
  }
  