@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/* font-family: 'Questrial', sans-serif !important; */
@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
/* font-family: 'Cantarell', sans-serif !important; */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap');
/* font-family: 'Comfortaa', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
/* font-family: 'Montserrat', sans-serif; */


:root {
    --primary-white : #ffffff;
    --primary-dark : rgba(2,10,32,0.9);
    --primary-red : rgb(220, 20, 60);
    --primary-dark-grey: rgb(102, 102, 102);
}
.wrapper{
  border-bottom: 3px solid var(--primary-red);
  margin: 0;
  padding: 0;
  background: url(about.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.about-heading {
    font-family: 'Raleway', sans-serif !important;
    color: var(--primary-red);
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin: 1rem 2rem;
  }
.text{
  width: 50%;
  margin: 2rem;
}
.about-text{
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif !important;
  }
  
@media(max-width: 468px) {
    .about-heading {
      font-family: 'Raleway', sans-serif !important;
      color: var(--primary-red);
      text-transform: uppercase;
      text-align: center;
      font-size: 30px;
      font-weight: 500;
      margin: 1rem;
    }
  .text{
    width: 100%;
    margin: 2rem;
  }
  .about-text{
      font-size: 1.2rem;
      font-family: 'Raleway', sans-serif !important;
    }
}
@media(max-width: 900px) {
  .about-heading {
    font-family: 'Raleway', sans-serif !important;
    color: var(--primary-red);
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin: 1rem;
  }
.text{
  /* width: 60%; */
  margin: 2rem;
}
.about-text{
    font-size: 1.0rem;
    font-family: 'Raleway', sans-serif !important;
  }
}
