@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
/* font-family: 'Cantarell', sans-serif !important; */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap');
/* font-family: 'Comfortaa', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
/* font-family: 'Montserrat', sans-serif; */

:root {
    --primary-white : #ffffff;
    --primary-dark : rgba(2,10,32,0.9);
    --primary-red : rgb(220, 20, 60);
}

.header-wrapper {
    position: relative;
    background: url(a.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
   
}

.main-info {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
  }

  .main-info h1 {
    color: var(--primary-white);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-family: 'Montserrat', sans-serif !important;
  }

/*-------- TYPED TEXT ---------------*/
.typed-text {
    font-size: 1.5rem;
    color: var(--primary-white);
    margin: 2rem 2rem 1rem 2rem;
    font-family: 'Raleway', sans-serif !important;
    border: 3px groove var(--primary-red);
    border-radius: 5px;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    text-transform: uppercase;
    background-color: rgba(0, 0, 58, 0.8);

  }

#contact{
    background-color: rgba(0, 0, 58, 0.8);
  }

#contact:hover {
    text-decoration: none;
    background-color: var(--primary-red);
    color: var(--primary-white);
    transition:  .2s ease-in-out;
    cursor: pointer;
  }

.btn-main-offer {
    font-size: 20px;
    letter-spacing: 2px;
    border: 3px solid var(--primary-red);
    border-radius: 5px;
    text-transform: uppercase;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    color: var(--primary-white);
    margin: 1rem 2rem 2rem 2rem;
  }

  .btn-main-offer:hover {
    text-decoration: none;
    background-color: var(--primary-red);
    color: var(--primary-white);
    transition:  .2s ease-in-out;
    cursor: pointer;
  }

.title {
  background-color: rgba(0, 0, 58, 0.8);
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
}
  
@media(max-width: 768px) {
  .btn-main-offer { 
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    border: 2px solid var(--primary-red);
  }
  .main-info h1 {
    letter-spacing: 0.2rem;
    font-size : 20px;
    font-weight: 600;
  }
  .typed-text {
    font-size: 20px;
    text-transform: uppercase;
  }
}